﻿@{
    ViewBag.Title = "View";
}

<div class="container">
    <h2>Weather API</h2>

    @using (Html.BeginForm("QueryWeatherApi", "Weather", FormMethod.Post))
    {
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                <input type="text" id="city" name="city" placeholder="Search weather by city" class="form-control" />
            </div>
        </div>
    }
</div>

