﻿@model RestSharpEx.Models.WeatherDataModel
@{
    ViewBag.Title = "QueryWeatherApi";
}

<h2>Current Weather Details of @Model.name.ToUpper()</h2>
<br />
<table class="table table-bordered table-responsive table-hover">
    <tr>
        <th>City</th>
        <th>Weather</th>
        <th>Temperature</th>
        <th>Temperature Max</th>
        <th>Temperature Min</th>
        <th>Pressure</th>
        <th>Humidity</th>
        <th>OpenWeather ID</th>
    </tr>
    <tr>
        <td>@Model.name</td>
        <td>@Model.weather[0].main</td>
        <td>@Model.main.temp</td>
        <td>@Model.main.temp_max</td>
        <td>@Model.main.temp_min</td>
        <td>@Model.main.pressure</td>
        <td>@Model.main.humidity</td>
        <td>@Model.id</td>
    </tr>
</table>
